@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#sideNav,
main, #addListPopup {
    background-color: #eeeeee;
}

#sideNav,
main {
    box-shadow: -30px 30px 60px #cacaca,
        30px -30px 60px #ffffff;
}

#todoList :last-child {
    border: none;
}

header, footer {
    color:#eeeeee;
}

.selected {
    background-color: #e0e0e0;
}